* {
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.p50 {
    padding: 50px;
}

.p100 {
    padding: 100px;
}

.center {
    display: flex;
    align-items: center;
    height: 100vh;
}

.lg {
    flex: 1;
    width: 500px;
    height: 450px;
}

.md {
    width: 300px;
    height: 250px;
}

.sm {
    width: 200px;
    height: 150px;
}